Adquisición de datos en Python

En este Notebook encontraréis dos conjuntos de ejercicios: un primer conjunto de ejercicios para practicar y un segundo conjunto de actividades evaluables como PRÁCTICAS de la asignatura.

***

**Ejercicios y preguntas teóricas**

A continuación, encontraréis los ejercicios y preguntas teóricas que debéis completar en esta PRA y que forman parte de la evaluación de esta unidad.

**Pregunta 1**

La respuesta recibida después de realizar una petición a una web API http es un objeto que contiene, entre otros, los siguientes atributos: status.code, content y headers. Describe qué información contiene cada uno de los atributos anteriormente enumerados y pon un ejemplo de cada uno. Recordad que hay que citar las referencias consultadas para responder la pregunta, y que la respuesta que proporcionéis debe ser original (redactada por vosotros mismos, después de haber leído y entendido las referencias que consideréis oportunas).

***Respuesta 1***
El status.code es el código de respuesta HTTP para saber si nuestra petición se ha realizado correctamente o no. Si el status.code está dentro del rango 200 y 299, significa que ha sido satisfactoria. Entre 400 y 499 hay un error del cliente y entre 500 y 599, un error de los servidores. 
Ejemplo:
<Response [200]>

El content aparece dentro del header y se usa para especificar la naturaleza de los datos e información auxiliar sobre sus tipos. 
Ejemplo:
"Content-Type":"application/json; charset=utf-8"

Los headers son una parte importante de la petición API y representan los metadatos asociados con la petición y respuesta de la API. Contienen las credenciales con la información de autorización, el content-type, el servidor, etc. 
Ejemplo:
{
   "Date":"Fri, 11 Dec 2020 19:38:43 GMT",
   "Content-Type":"application/json; charset=utf-8",
   "Transfer-Encoding":"chunked",
   "Connection":"keep-alive",
   "Set-Cookie":"__cfduid=db029573e625cd89666279b99b4bcbfda1607715523; expires=Sun, 10-Jan-21 19:38:43 GMT; path=/; domain=.postcodes.io; HttpOnly; SameSite=Lax",
   "X-GNU":"Michael J Blanchard",
   "Access-Control-Allow-Origin":"*",
   "ETag":"W/\"36d-BWWNmOIYupt4CfqWuk9qrACGUjY\"",
   "CF-Cache-Status":"HIT",
   "Age":"185",
   "cf-request-id":"06f4e923410000ff0c2ab3c000000001",
   "Report-To":"{\"endpoints\":[{\"url\":\"https:\\/\\/a.nel.cloudflare.com\\/report?s=HGacCwX60R38ZAq7HT2GkVp8IF2FEHMMAPIBtJfAYHTiw3MHIR5NAV8E5UdK7SCCfDGeA1UL87gfWydpo39uIy3Q%2FxrlfqWKlmI6tmLgtVhc\"}],\"group\":\"cf-nel\",\"max_age\":604800}",
   "NEL":"{\"report_to\":\"cf-nel\",\"max_age\":604800}",
   "Vary":"Accept-Encoding",
   "Server":"cloudflare",
   "CF-RAY":"6001aae53d65ff0c-MAD",
   "Content-Encoding":"gzip"
}

https://www.soapui.org/learn/api/understanding-rest-headers-and-parameters/

***Pregunta 2***

Enumera tres librerías de Python para acceder a una API y especifica la API a la cual se accede. Para cada una de las librerías anteriormente enumeradas, pon un ejemplo de endpoint de la API que permite obtener una determinada información y de la función que permite obtenerla. Recordad que hay que citar las referencias consultadas para responder la pregunta.

Nota. Un ejemplo sería la librería de Python Tweepy que accede a la API de Twitter. Un posible endpoint sería https://api.twitter.com/1.1/search/tweets.json y la función api.get_user() permitiriá obtener información de un determinado usuario.

Respuesta

***Respuesta 2***

unirest es una librería que nos da acceso a la web de la NASA. 
Un endpoint sería https://api.nasa.gov/ y la función unirest.get().

GraphAPI es la librería que da acceso a la web de facebook. 
El endpoint sería https://developers.facebook.com/docs/graph-api y una función para obtener información acerca de eventos de conciertos sería: graph.request("/search?1=Concert&type=event&limit=10000")
https://towardsdatascience.com/how-to-use-facebook-graph-api-and-extract-data-using-python-1839e19d6999

wikipedia es la librería que nos da acceso a la web wikipedia. 
El endpoint sería https://en.wikipedia.org/w/api.php y una función wikipedia.search() para buscar un tema en concreto, por ejemplo wikipedia.search("Coronavirus") nos daría informaicón acerca del Coronavirus.
https://towardsdatascience.com/wikipedia-api-for-python-241cfae09f1c

***Ejercicio 1***

Implementad una función que devuelva una lista con el nombre de las personas actualmente en el espacio consultando alguna de las APIs que se detallan en la siguiente url.

Respuesta


***Ejercicio 2***

Queremos saber el número de crímenes violentos que se han producido en Reino Unido en una localización (latitud, longitud) y fecha concretas mediante la seguiente url. Implementad un conjunto de funciones para obtener el número de crimenes producidos en una determinada fecha en una determinada localización.

La primera función devolverá la latitud y longitud de una determinada dirección postal mediante la API de geolocalización de google maps.

La segunda función devolverá el número de crimenes producidos en una determinada fecha y en una determinada localización (latitud, longitud).

Usa ambas funciones para obtener el número de crimenes violentos en la dirección Adelaide St, WC2N 4HZ, London, United Kingdom en abril del 2018.

Nota: Deberéis registraros a Google Cloud Platform para obtener las credenciales de la API de googlemaps.

Respuesta

Como Anaconda me da muchos errores, estoy usando Google Colab para hacer los ejercicios. GoogleMaps también me daba error así que he investigado y he usado geopy y Nominatim para encontrar la latitud y la longitud desde una dirección:

#import geopandas

#import geopy

#from geopy import Nominatim

locator =Nominatim(user_agent="myGeocoder")

location = locator.geocode("Adelaide St, WC2N 4HZ, London, United Kingdom")

print("{},{}".format(location.latitude, location.longitude))

#El resultado es 
51.5091724,-0.1258542

***Ejercicio 3***

Queremos conocer los nombres más frecuentes de los recién nacidos en Barcelona por sexo entre los años 1996 y 2018. Implementad una función de dos parámetros (id: identificador del recurso, año: año de consulta), que devuelva una lista con el nombre más frecuente para niña y para niño en dicho año. Usa la función para obtener lo siguiente:

a) Una lista con el nombre más frecuente de los recién nacidos en Barcelona por sexo para cada uno de los años entre 1996 y 2018 (incluidos).

b) Crear una lista ordenada de mayor a menor, a partir de la lista obtenida en el apartado a), según el número de veces que dicho nombre ha sido utilizado.

Para realizar el ejercicio consultad el portal de datos abiertos del Ayuntamiento de Barcelona mediante la siguiente url.

Nota 1: Consultad como realizar las consultas mediante la API en la pestaña de Desarrolladores

Nota 2: Algunos nombres pueden contener espacios. Deberéis eliminar dicho espacio para realizar el contaje correctamente.

Respuesta

In [1]:
#import pandas as pd
#from scipy import stats
#import numpy as np
#import matplotlib.pyplot as plt
#import seaborn as sns
#import warnings
#warnings.filterwarnings("ignore")
#%matplotlib notebook

In [2]:
# leemos el fichero con los nombres de los niños nacidos entre 1996 y 2019
bcn = pd.read_csv("C:/Users/raque/Downloads/25_noms_padro_any_sexe_1996_2019.csv", delimiter =",")

In [3]:
#elimino los niños nacidos en 2019:
bcn2 = bcn[bcn["Any"] != 2019]

#eliminamos los espacios de la columna Nom:
bcn2["Nom"] = bcn2["Nom"].map(str.strip)

#agrupamos los nombres de los recien nacidos por año y por sexo,
#sumando en la columna Nombre el número de veces puesto cada año:

bcn3 = bcn2.groupby(["Any","Sexe","Nom"]).sum().sort_values(["Any","Sexe","Nombre"], ascending=False)

#seleccionamos los nombres más veces puestos entre 1996 y 2018 por sexo:
bcn4= bcn3.loc[bcn3.groupby(["Any","Sexe"])["Nombre"].idxmax()]
bcn4

                   Ordre  Nombre
Any  Sexe Nom
1996 Dona LAURA        1     237
     Home MARC         1     295
1997 Dona MARIA        1     241
     Home MARC         1     348
1998 Dona MARIA        1     265
     Home MARC         1     330
1999 Dona MARIA        1     299
     Home MARC         1     291
2000 Dona MARIA        1     268
     Home MARC         1     290
2001 Dona MARIA        1     243
     Home MARC         1     234
2002 Dona MARIA        1     243
     Home MARC         1     267
2003 Dona MARIA        1     196
     Home MARC         1     287
2004 Dona MARIA        1     200
     Home MARC         1     259
2005 Dona LAIA         1     200
     Home MARC         1     277
2006 Dona MARIA        1     196
     Home MARC         1     229
2007 Dona LUCIA        1     159
     Home MARC         1     237
2008 Dona MARTINA      1     169
     Home MARC         1     244
2009 Dona MARTINA      1     167
     Home MARC         1     194
2010 Dona MARTINA      1     194
     Home MARC         1     195
2011 Dona MARTINA      1     157
     Home MARC         1     209
2012 Dona JULIA        1     158
     Home MARC         1     206
2013 Dona JULIA        1     143
     Home MARC         1     175
2014 Dona LAIA         1     153
     Home MARC         1     192
2015 Dona EMMA         1     145
     Home MARC         1     172
2016 Dona JULIA        1     137
     Home MARC         1     148
2017 Dona JULIA        1     123
     Home POL          1     139
2018 Dona EMMA         1     146
     Home MARC         1     121

In [4]:
#b) Crear una lista ordenada de mayor a menor, a partir de la lista obtenida en el apartado a),
#según el número de veces que dicho nombre ha sido utilizado:
bcn5 = bcn4.groupby(["Sexe","Nom"]).sum().sort_values(["Sexe","Nombre"], ascending=False)
bcn5
#Los nombres más veces puestos para chico son Marc y Pol y para chica son María y Martina.

              Ordre  Nombre
Sexe Nom
Home MARC        22    5200
     POL          1     139
Dona MARIA        9    2151
     MARTINA      4     687
     JULIA        4     561
     LAIA         2     353
     EMMA         2     291
     LAURA        1     237
     LUCIA        1     159